@charset "utf-8";
html{
}
body{
}
img{
    width: 50px;
}
.btn a{
    color: #fff;
    text-decoration: none;
}
/* toppage */

/* header */
header{
    padding: 15px 20px;
    background:#186AC9;
}
.header_image{
    width: 120px;
}
/* sideber */
#confirm{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.f_btn{
    text-align: right;
    margin-bottom: 30px;
}
.f_btn button{
    width: 50%;
}
.f_count{
    display: flex;
}
.f_count p:last-child{
    flex-grow: 3;
}
.f_count p:first-child{
    flex-grow: 1;
}
.search_btn{
    text-align: center;
    margin-top: 30px;
}
.search_btn button{
    width: 50%;
}
/* accordion menu */
.accordion-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    border-top: none;
    outline: 0;
    width: 100%;
    cursor: pointer;
    color: #fff;
}
.atlas_image{
    margin-right: auto;
}
.accordion-title {
    width: 50px;
    cursor: pointer;
    transform: rotate(-90deg);
}
.accordion-title:after{
    border-right: solid 4px #ffffff;
    border-bottom: solid 4px #ffffff;
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(135deg);
}
.accordion-title.open::after{
    transform: rotate(-45deg);
    top: 45%;
}
.accordion-content{
    display: none;
    padding-left: 2.3125em;
    transform: translateY(60%);
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
/* 投稿エリア */
.post_content{
    padding: 30px 200px 30px 70px;
    border-bottom: 10px solid #ddd;
}
.post_btn_image{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.post_content textarea{
    margin: 0 20px;
    border: none;
    resize: none;
    width: 100%;
    height: 100px;
}
.post_list{
    display: flex;
}
.post_list div:nth-child(2){
    flex-grow: 1;
}
.post_list div:last-child{
    padding: 60px 0 0 0;
    margin-left: 40px;
}

/* 一覧表示 */
.list-area{
    padding: 15px 15px 15px 65px;
    /* margin-left: 50px; */
    border-bottom: solid #ddd;
}
.edit-button{
    width: 40px;
}
.delete-button{
    width: 40px;
}
.user_post_list{
    display: flex;
}
.item_username_post{
    flex-grow: 1;
    margin-left: 10px;
}
.item_username_post li{
    margin-bottom: 15px;
}
.item_updated_btn:first-child{
    margin-bottom: 50px;
}
.btn_area{
    display: flex;
    margin-top: 50px;
}
.btn_area li:first-child{
    flex-grow: 3;
    text-align: right;
}
.btn_area li:last-child{
    flex-grow: 2;
    text-align: center;
}
/* フォローリスト */
.f_list_head{
    display: flex;
    padding: 20px 50px;
    border-bottom: 10px solid #ddd;
}
.f_list_head div:first-child{
    margin-right: 30px;
    padding: 10px;
}
.f_list_title{
    font-size: 30px;
    font-weight: 400;
}
.f_list_icon{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.f_list_content{
    display: flex;
    padding: 15px 15px 15px 65px;
    border-bottom: solid #ddd;
}
.f_list_content div:nth-child(2){
    flex-grow: 1;
    margin-left: 15px;
}
.f_list_name{
    margin-bottom: 10px;
    font-weight: 500;
}
/* 別ユーザープロフィール */
.another_user_content{
    border-bottom: 10px solid #ddd;
    display: flex;
    padding: 30px 10px 20px 60px;
}
.another_user_content div:nth-child(2){
    flex-grow: 1;
    font-size: 20px;
}
.another_user_content div:nth-child(3){
    flex-grow: 10;
    font-size: 20px;
}
.another_user_profile ul li{
    margin-bottom: 20px;
}
.another_user_btn{
    padding-top: 60px;
}
/* 検索ページ */
.search_form{
    padding: 40px;
    display: flex;
    border-bottom: 10px solid #ddd;
}
.search_form div:nth-child(3){
    flex: 1;
}
.search_form div:nth-child(2){
    margin-right: 10px;
}
.search_form div:last-child{
    padding-top: 15px;
    flex: 1;
}

.s_form_name{
    width: 250px;
    height: 40px;
}
.search_user_content{
    padding: 40px 15%;
}
.search_user{
    display: flex;
    margin-bottom: 40px;
}
.search_user li:first-child{
    flex: 1;
    text-align: right;
}
.search_user li:nth-child(2){
    flex: 1;
    padding: 10px 20px;
}
.search_user li:last-child{
    flex: 1;
}
.s_user_btn .btn{
    width: 120px;
}
/* modal area */
.layer{
    background: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0;
    visibility:hidden;
    transition: opacity 0.5s linear, visibility 0.5s linear, z-index 0.5s linear;
}
.modal {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    min-width: none;
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s linear, opacity .5s linear;
}
.modal_inner {
    margin-top:50%;
    margin-bottom:100px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    border-radius: 13px;
    display: block;
    height:auto;
}
.modal_content {
    padding-top:20px;
    padding-bottom: 60px;
    padding-left:20px;
    padding-right:20px;
}
 .layer.open{
    z-index: 999;
    opacity: 1;
    visibility: visible;
 }
 .layer.open .modal{
    opacity: 1;
    visibility: visible;
 }
 .edit-area{
    display:flex;
 }
 .edit-text {
    width: 100%;
 }
 /* modal-delete-area */
.modal-delete{
    background: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0;
    visibility:hidden;
    transition: opacity 0.5s linear, visibility 0.5s linear, z-index 0.5s linear;
}
.modal-delete-content{
    background-color: #fff;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: 100px;
    min-width: none;
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s linear, opacity .5s linear;
}
.modal-delete.open{
    z-index: 999;
    opacity: 1;
    visibility: visible;
 }
 .modal-delete.open .modal-delete-content{
    opacity: 1;
    visibility: visible;
 }